.text{
    border:0;
    border-bottom:1px solid #555;
    background:transparent;
    width:100%;
    padding:8px 0 5px 0;
    font-size:16px;
    color:#282c34;
}
.text:focus{
    border:none;
    outline:none;
    border-bottom:1px solid #e74c3c;
}